<ol class="multi-step-nav multi-step-nav-collapse-sm multi-step-indicator-label-top">

    <li *ngFor="let etape of etapes; let last = last;"
        [ngClass]="{
                      'complete multi-step-item': true,
                      'multi-step-item-expand': !last,
                      'disabled': !etape.visited,
                      'active': etape.etapeCourante
                     }">

        <div class="multi-step-divider"></div>
        <div class="multi-step-indicator">
            <div class="multi-step-indicator-label">Step {{ etape.numeroEtape }}</div>
            <a class="multi-step-icon" [attr.data-multi-step-icon]="etape.numeroEtape" href="#1"></a>
        </div>

    </li>
</ol>
