<div class="etape-bulle" data-initplugin="n3EtapeBulle">
    <div class="etape-bulle-pagination">
        <ul class="etape-bulle-list team-color-1" role="tablist">
            <li *ngFor="let etape of etapes"
                [ngClass]="{
                      'etape-bulle-item': true,
                      'visited': etape.visited,
                      'active': etape.etapeCourante
                     }">
                <span class="etape-bulle-cercle">
                    <span class="sr-only"></span>
                    <span class="etape-bulle-nombre">{{ etape.numeroEtape }}</span>
                    <span [ngClass]="{
                      'sr-only': true,
                      'etape-bulle-active': etape.etapeCourante
                     }"></span>
                </span>
            </li>
        </ul>
    </div>
</div>
